<!doctype html>
<html>

<head>
    <title>Generate Resume from Data</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/utilities.js') }}" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h3>Editor</h3>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="resumeDataInput" rows="10" 
 							style="height:85vh; width:-webkit-fill-available; border:1px dotted black;border-radius:5px;
							font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;">{{ resume_json }}</textarea>
                    </div>
                    <div class="form-group m-2">
                        <button type="button" class="btn btn-primary" id="applyButton">Apply Changes</button>
                    </div>
                </form>
            </div>
            <div class="col-7">
                <h3>Generated Resume</h3>
                <iframe src="{{ url_for('template') }}" title="Generated Resume" id="renderBoxElem" 
                 style="height:85vh; width:800px;border:1px dotted black;border-radius:5px;"></iframe>
				<div class="form-group m-2">
					<button type="button" class="btn btn-secondary">Save to PDF</button>
				</div>
            </div>
        </div>
    </div>
</body>
<script>
    const applyBtnElem = document.getElementById("applyButton");
		const apiUrl = "{{ url_for('validate') }}";
        applyBtnElem.addEventListener("click", function (e){
		  const textAreaElem = document.getElementById("resumeDataInput");
		  const data = textAreaElem.value;
		  fetch(apiUrl, {method: "POST",
					body: data,
					headers: { "Content-Type": "application/json", },
				})
			.then(response => {
			  if (!response.ok) {
				throw new Error('Network response was not ok');
			  }
			  return response.json();
			})
			.then(data => {
				 const renderURL = "{{ url_for('render') }}";
				 fetch(renderURL, {
						method: "POST",
						body: JSON.stringify(data),
						headers: {"Content-Type": "application/json"}
					}

			 	 ).then(resp => {
					return resp.text();
				 })
				 .then(text => {
						const renderBoxElem = document.getElementById("renderBoxElem");
						const rendered = text;
						renderBoxElem.srcdoc = rendered;
					}
				 )
				 .catch(err => { console.log("failed to render");})
			})
			.catch(error => {
			  console.error('Error:', error);
			});
        });
</script>

</html>
